@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <center><h2>PERSONAL</h2></center>
    <p class="lead">NAME : Jittra</p>
    <p class="lead">Surname : Kerdmongkol</p>
    <p class="lead">Nickname : Namwhan</p>
    <p class="lead">Sex : Female</p>
    <p class="lead">Phone : 090-6515824</p>
    <p class="lead">email : se57160085@gmail.com</p>
</div>

<div class="row">
    <div class="col-md-4">
        
    </div>
    <di
    </div>
    <div class="col-md-4">
      
    </div>
</div>